html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 1.25;
  font-style: normal;
  font-family: Proxima Nova;
  font-weight: 700;
  letter-spacing: 0.4;
  color: $black;
  background-color: $white;
 
  @include media($xxxl){
    font-size: 16px;
  }
  @include media($xl){
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1850px;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1950px;
  width: 100%;
}

.sr-only {
  font-size: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}
.title {
  font-size: 48px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 50px;
    background-color: $accent;
    left: auto;
    z-index: -1;
  }
  @include media(425px){
    margin-bottom: 25px;
    font-size: 36px;
  }
}
