html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 125%;
  font-style: normal;
  font-family: Proxima Nova;
  font-weight: 700;
  // letter-spacing: 0.6px;
  color: $black;
  background-color: $white;
 

}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.sr-only {
  font-size: 0;
  overflow: hidden;
  width: 0;
  height: 0px;
}
.title {
  font-size: 48px;
  
}
