
@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}


$white:#fff;
$black:#1e2e36;
$accent:#44c697;
$red:#ff1b1b;
$grey:#bcbdbb;

$xxxl:1550px;
$xxl:1400px;
$xl:1220px;
$lg:1024px;
$md:768px;
$sm:425px;
