 <div class="benefits" id="benefits">
   <div class="container">
     <h2 class="title">Наші переваги</h2>

     <div class="benefits__inner ">
       <div class="swiper-container ">
         <div class="swiper-wrapper">
           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Меблі преміум класу</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
           </div>

           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle1.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Надійність</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
           </div>

           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle2.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Безкоштовна доставка</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
           </div>
           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Меблі преміум класу</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
           </div>

           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle1.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Надійність</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
           </div>

           <div class="swiper-slide">
             <div class="benefits__item ">
               <img class="benefits__img" src="./images/rectangle2.jpg" alt="Меблі преміум класу">
               <div class="benefits__text">
                 <h4 class="benefits__subtitle">Безкоштовна доставка</h4>
                 <p class="benefits__desc">За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
                   Вінницької
                   області та України</p>
               </div>
             </div>
            </div>
            
          </div>
          <div class="swiper-button-prev">Left
            <svg class="swiper-button-prev--svg">
            <use xlink:href="images/icons/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">Right
             <svg class="swiper-button-next--svg">
               <use xlink:href="images/icons/sprite.svg#arrow-right"></use>
             </svg>
          </div>
        </div>
     </div>

  
   </div>
 </div>