<div class="footer">
  <div class="footer__wrapper wrapper ">
    <div class="footer__inner">
      <a class="footer__arrow" href="#body">
        <svg class="footer__arrow-svg">
        <use xlink:href="images/icons/sprite.svg#arrow-top"></use>
        </svg>
      </a>
      <a class="logo logo--footer" href="#">
        <img class="logo__img" src="/images/icons/logo-footer.svg" alt="Логотип">
      </a>
      <div class="footer__info">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Дивани</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">ліжка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Крісла</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">шафи</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Кухні</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">комоди</a>
          </li>
        </ul>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">АкцІї</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Доставка та оплата</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">про нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">контакти</a>
          </li>
        </ul>

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__geo" href="#">TEST</a>
          </li>
          <li class="footer__item">
            <a class="footer__schedule" href="#">Пн-Пт, з 10 до 18</a>
          </li>
          <li class="footer__item">

            <a class="footer__phone" href="tel:0991112233">(099) 111 22 33</a>
            <a class="footer__phone" href="tel:09922233">(099) 222 33 44</a>
          </li>
          <div class="footer__social">
            Ми в соціальних мережах:
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg footer__social--telegram">
                <use xlink:href="images/icons/sprite.svg#telegram-f"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg footer__social--facebook">
                <use xlink:href="images/icons/sprite.svg#facebook-f"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg footer__social--instagram">
                <use xlink:href="images/icons/sprite.svg#instagram-f"></use>
              </svg>
            </a>
          </div>
        </ul>
      </div>
      <div class="footer__copy">
        <span class="footer__copy-text">© ТОВ Furniture, працюємо з 2006 року</span>
        <a class="footer__copy-link" href="#">Глянець — розробка інтернет-магазинів</a>
      </div>
    </div>
    <div class="footer__bg">
    <img class="footer__bg-img" src="./images/footer-bg.jpg" alt="Диван з подушками"></div>
  </div>
</div>