<header class="header">

  <div class="header__wrapper">
    <div class="container">
      <div class="header__top">
        <ul class="social">
          <li class="social__item social__item--text">
            Ми в соціальних мережах:
          </li>
          <li class="social__item">
            <a class="social__link social__link--telegram" href="#">Telegram</a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--facebook" href="#">Facebook</a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--instagram" href="#">Instagram</a>
          </li>
          <li class="social__item">

            <a class="phone" href="tel:0991112233">(099) 111 22 33</a>

          </li>
        </ul>
<button class="menu__btn" type="button">меню
  <span class="menu__btn-style"></span>
</button>
        <nav class="menu menu--top">
          <ul class="menu__list menu__list--top menu__list--hide">
            <li class="menu__item">
              <a class="menu__link" href="/">Головна</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Акцiї</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Доставка та оплата</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">про нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">контакти</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <div class="container">
  <div class="header__inner">
      <nav class="menu menu--products  ">
        <ul class="menu__list">
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">Дивани</a>
          </li>
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">ліжка</a>
          </li>
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">Крісла</a>
          </li>
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">комоди</a>
          </li>
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">шафи</a>
          </li>
          <li class="menu__item menu__item--products">
            <a class="menu__link menu__link--products" href="#">Кухня</a>
          </li>
        </ul>
        <a class="logo" href="#">
          <img class="logo__img" src="/images/icons/logo.svg" alt="Логотип">
        </a>
      </nav>


      <div class="header__items">
        <button class="header__cart" type="button">Кошик</button>
        <button class="header__call-back">Замовити дзвінок</button>
      </div>
    </div>
  </div>


</header>