<section class="product">
  <div class="container">
    <h2 class="title">Категорії товарів</h2>
    <ul class="product__filters">
      <li class="product__filter">Дивани
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#living-room"></use>
        </svg>
      </li>
      <li class="product__filter ">Ліжка
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#bedroom"></use>
        </svg>
      </li>
      <li class="product__filter ">Крісла
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#armchair"></use>
        </svg>
      </li>
      <li class="product__filter ">комоди
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#wardrobe1"></use>
        </svg>
      </li>
      <li class="product__filter ">Шафи
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#commode"></use>
        </svg>
      </li>
      <li class="product__filter ">Кухня
        <svg class="product__filter--svg">
          <use xlink:href="images/icons/sprite.svg#kitchen"></use>
        </svg>
      </li>
    </ul>
    <div class="product__inner">

      <article class="product__item">
        <img class="product__img" src="./images/product/ramona.jpg" alt="Ліжко Рамона">
        <span class="product__sticker">Новинка</span>
        <div class="product__info">
          <h3 class="product__name">Ліжко Рамона</h3>
          <div class="product__prise">
            <span class="product__prise-new">8 999 грн</span>
            <span class="product__prise-old"></span>
          </div>
        </div>
      </article>

      <article class="product__item">
        <img class="product__img" src="./images/product/chester.jpg" alt="Ліжко Честер">
        <span class="product__sticker">Хіт продаж</span>
        <span class="product__sticker-sale">Акція</span>
        <div class="product__info">
          <h3 class="product__name">Ліжко Честер</h3>
          <div class="product__prise">
            <span class="product__prise-new product__prise-sale">8 999 грн</span>
            <span class="product__prise-old">8 999 грн</span>
          </div>
        </div>
      </article>

      <article class="product__item">
        <img class="product__img" src="./images/product/venice.jpg" alt="Ліжко Венеція люкс">
       
        <div class="product__info">
          <h3 class="product__name">Ліжко Венеція люкс</h3>
          <div class="product__prise">
            <span class="product__prise-new">8 999 грн</span>
            <span class="product__prise-old"></span>
          </div>
        </div>
      </article>

      <article class="product__item">
        <img class="product__img" src="./images/product/empire.jpg" alt="Ліжко Імперія">
        <span class="product__sticker">Новинка</span>
        <div class="product__info">
          <h3 class="product__name">Ліжко Імперія</h3>
          <div class="product__prise">
            <span class="product__prise-new">8 999 грн</span>
            <span class="product__prise-old"></span>
          </div>
        </div>
      </article>

      <article class="product__item">
        <img class="product__img" src="./images/product/adele.jpg" alt="Ліжко  Адель">
        
        <div class="product__info">
          <h3 class="product__name">Ліжко Адель </h3>
          <div class="product__prise">
            <span class="product__prise-new">8 999 грн</span>
            <span class="product__prise-old"></span>
          </div>
        </div>
      </article>

      <article class="product__item">
        <img class="product__img" src="./images/product/atlant.jpg" alt="Ліжко Атлант">
        <span class="product__sticker">Хіт продаж</span>
        <span class="product__sticker-sale">Акція</span>
        <div class="product__info">
          <h3 class="product__name">Ліжко Атлант</h3>
          <div class="product__prise">
            <span class="product__prise-new product__prise-sale">8 999 грн</span>
            <span class="product__prise-old">8 999 грн</span>
          </div>
        </div>
      </article>

    </div>
    <a class="product__catalog" href="#">В каталог</a>
  </div>
</section>