<div class="question">
  <div class="wrapper">
    <h2 class="title">Залишились питання?</h2>
    <div class="question__inner" style="background-image: url('./images/question-bg.jpg');">
      <div class="question__item">
        <h3 class="question__item-title">Замовте консультацію</h3>
        <form class="question__form">

          <label class="question__label ">
            <input class="question__input" type="text" placeholder="Віталій" name="you-name" required></label>

          <label class="question__label ">
            <input class="question__input" type="tel" placeholder="Номер телефону" name="you-phone" required></label>
          <button class="question__btn" type="submit">Вiдправити</button>
        </form>
        <p class="question__text">Залиште заявку або телефонуйте за номером
          <a class="phone phone--question" href="tel:0991112233">
            (099)
            111 22 33</a>, і наш менеджер звяжеться з
          вами для кваліфікованої консультації.</p>
      </div>
    </div>
  </div>
</div>