<section class="slider">
  <div class="wrapper">

    <div class="slider__inner">

      <div class="slider__item">
        <img class="slider__img" src="./images/slider/bed.jpg" alt="ліжко">
      </div>
      <div class="slider__scroll">
        <a class="slider__icon" href="#benefits">Гортайте вниз</a>
      </div>
      <div class="slider__text">
        <h2 class="slider__title">Новинка!</h2>
        <h3 class="slider__subtitle">Ліжко Ornella</h3>
        <p class="slider__desc">Це новий рівень комфортного сну</p>
        <a class="slider__info" href="#">Детальніше</a>
        <div class="slider__number">
          <span class="slider__number-first">01</span><span class="slider__number-last">/04</span>
          <div class="slider__btn-prev">Left
            <svg class="slider__btn-prev--svg">
              <use xlink:href="images/icons/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="slider__btn-next">Right
            <svg class="slider__btn-next--svg">
              <use xlink:href="images/icons/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>